* {
    margin: 0;
    padding: 0;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(141, 131, 139);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(224, 167, 150);
    padding: 8px 12px;
    text-decoration: none;
    font-size: 18px;
    border: 1px red solid;
}

li a:hover {
    background-color: rgb(142, 163, 132);
    color: rgb(5, 3, 3);
    border: 2px yellow dotted;
  }

  .active {
    background-color: #16a763;
    color: white;
  }

  .text {
    margin-left: 15%;
  }
  h2{
    text-align: center;
    padding-top: 40px;
  }
  .text img{
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

.pa{
    color: rgb(0, 0, 0);
    font-weight: bold;
  