@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #24252A;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav li{
    display: inline-block;
    padding: 0px 10px;
}
.nav li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: Montserrat, cursive;
    font-weight: 500;
    font-size: 23px;
    color: rgb(196, 196, 4);

}
.nav li a:hover {
    color: hsla(54, 77%, 14%, 0.822);    
}

.img{
    width: 250px;
    height: 250px;
    background-image: url(../images/imagine.jpeg);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px white solid;
    margin: 10px 15px;
    padding: 5px 10px;
    float: left;
    transition: all 0.5s ease-in;
    display: inline-block;
}

h2, p{
    background-color: transparent;
    color: red;
}
p{
    font-size: 18px;
}
